# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

Binaries/
Build/
DrivedDataCache/
Intermediate/
Saved/
BuildingEscape.VC.db/
Content/StarterContent/Textures
Content/StarterContent/HDRI
.vs/

*.sln
#*.VC.db
#*.VC.db-shm
#*.VC.db-wal

